body{
    background: url(../images/wwbm.jpg);
    
    
}

#heading{
    padding-top: 40px;
    color: blue;
}
#timeRemain{
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 537px;
   
   
    color: red;
}

#question{
    position: absolute;
    top: 115px;
    bottom: 40px;
    left: 435px;
    
   

    
    color: white;
  
}

#options{
    padding-top: 20px;
}

.responses{
    margin-left: 300px;
    margin-right: 300px;
}

.responses:hover {
    background-color: red;
    cursor: pointer;
}

#start{
    margin-top: 160px;
    margin-bottom: 160px;
    font-size: 40px;
    
    
}

.container{
    height: 700px;
    
}

#content{
    
    background-image: url(../images/triviaBG.png);
    background: red;
}

#again{

    margin-top: 20px;
}

#game{

    margin-top: 60px;
    position: relative;
    left: 40px;


}

.all{
    position: relative;
}

#a{
    position: absolute;
    left: 30px;
    top: 200px;
    color: white;
}

#b{
    position: absolute;
    left: 400px;
    top: 200px;
    color: white;
}

#c{
    position: absolute;
    left: 30px;
    top: 270px;
    color: white;
}

#d{
    position: absolute;
    left: 400px;
    top: 270px;
    color: white;
}

